<a href="https://colab.research.google.com/github/khorneflakes-dev/Proyecto-Final-YELP/blob/main/Erick/carga_inicial_business.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [20]:
engine = create_engine('mysql+pymysql://root:projectyelp2022@34.176.218.33/yelp_project')

In [39]:
path = '/content/drive/MyDrive/business/'

In [36]:
df1 = pd.read_parquet(f'{path}business.parquet.gzip')

In [13]:
df1.dtypes

business_id        int64
name              object
address           object
postal_code       object
latitude         float64
longitude        float64
stars            float64
review_count       int64
is_open            int64
city_state_id      int64
hours_id           int64
attributes_id      int64
categories_id      int64
dtype: object

In [ ]:
import sqlalchemy
from sqlalchemy.types import Integer, VARCHAR, Float

In [23]:
# dtypes1 = {
#     'business_id': Integer,
#     'name': VARCHAR(255),
#     'address': VARCHAR(255),
#     'postal_code': VARCHAR(25),
#     'latitude': Float,
#     'longitude': Float,
#     'stars': Float,
#     'review_count': Integer,
#     'is_open': Integer,
#     'city_state_id': Integer,
#     'hours_id': Integer,
#     'attributes_id': Integer,
#     'categories_id': Integer
# }

# df1.to_sql('business', con=engine, index=False, if_exists='replace', dtype = dtypes1)

In [37]:
df2 = pd.read_parquet(f'{path}business_attributes.parquet.gzip')

In [32]:
# dtypes2 = {
#     'attributes_id': Integer,
#     'attributes': VARCHAR(455)
# }

# df2.to_sql('business_attributes', con=engine, index=False, if_exists='replace', dtype=dtypes2)

In [40]:
df3 = pd.read_parquet(f'{path}business_categories.parquet.gzip')

In [44]:
# dtypes3 = {
#     'categories_id': Integer,
#     'categories': VARCHAR(655)
# }
# df3.to_sql('business_categories', con=engine, index=False, if_exists='replace', dtype=dtypes3)

In [46]:
df4 = pd.read_parquet(f'{path}business_city_state.parquet.gzip')

In [52]:
dtypes4 = {
    'city_state_id': Integer,
    'city': VARCHAR(100),
    'state': VARCHAR(10)
}

df4.to_sql('business_city_state', con=engine, index=False, if_exists='replace', dtype=dtypes4)

In [54]:
df5 = pd.read_parquet(f'{path}business_hours.parquet.gzip')

In [56]:
df5.head(2)

,hours_id,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,1,7:0-20:0,7:0-20:0,7:0-20:0,7:0-20:0,7:0-21:0,7:0-21:0,7:0-21:0
1,2,0,0,14:0-22:0,16:0-22:0,12:0-22:0,12:0-22:0,12:0-18:0

In [59]:
max_list = []
for i in df5['Wednesday']:
  max_list.append(len(i))

max(max_list)

11

In [60]:
# dtypes5 = {
#     'hours_id': Integer,
#     'Monday': VARCHAR(25),
#     'Tuesday': VARCHAR(25),
#     'Wednesday': VARCHAR(25),
#     'Thursday': VARCHAR(25),
#     'Friday': VARCHAR(25),
#     'Saturday': VARCHAR(25),
#     'Sunday': VARCHAR(25),
# }

# df5.to_sql('business_hours', con=engine, index=False, if_exists='replace', dtype=dtypes5)